aiofiles==0.4.0
Click==7.0
coverage==4.5.1
httptools==0.0.11
multidict==5.0.0
pytest==6.1.2
pytest-cov==2.10.1
pytest-sanic==1.6.2
sanic==20.9.1
Sanic-Cors==0.10.0
Sanic-Plugins-Framework==0.9.4.post1
ujson==1.35
uvloop==0.14.0
websockets==8.1
